[submodule "grunt-contrib-cssmin/original"]
	path = grunt-contrib-cssmin/original
	url = https://github.com/gruntjs/grunt-contrib-cssmin.git
[submodule "grunt-contrib-jshint/original"]
	path = grunt-contrib-jshint/original
	url = https://github.com/gruntjs/grunt-contrib-jshint.git
[submodule "grunt-contrib-watch/original"]
	path = grunt-contrib-watch/original
	url = https://github.com/gruntjs/grunt-contrib-watch.git
[submodule "grunt-contrib-uglify/original"]
	path = grunt-contrib-uglify/original
	url = https://github.com/gruntjs/grunt-contrib-uglify.git
[submodule "grunt-shell/original"]
	path = grunt-shell/original
	url = http://github.com/sindresorhus/grunt-shell.git
[submodule "grunt-contrib-less/original"]
	path = grunt-contrib-less/original
	url = https://github.com/gruntjs/grunt-contrib-less.git
[submodule "grunt-contrib-compress/original"]
	path = grunt-contrib-compress/original
	url = https://github.com/gruntjs/grunt-contrib-compress.git
[submodule "grunt-uncss/original"]
	path = grunt-uncss/original
	url = https://github.com/addyosmani/grunt-uncss.git
[submodule "grunt-contrib-sass/original"]
	path = grunt-contrib-sass/original
	url = https://github.com/gruntjs/grunt-contrib-sass.git
